{{ if .Site.Params.footer.recentPosts.enable | default false }}
{{ $root := . }}
{{ range .Site.Params.footer.recentPosts.paths }}
{{ $recentPostsPath := . | default "blogs" }}
{{/* Use $root to access .Site.RegularPages and ensure the context is correctly passed */}}
{{ $currentNumOfRecentPosts := len (where $root.Site.RegularPages "Type" $recentPostsPath) }}
{{ if gt $currentNumOfRecentPosts 0 }}
<div class="container py-3" id="recent-posts-{{ $recentPostsPath }}">
    {{/* Use $root to ensure the correct context is passed for .Site.Params */}}
    {{ $recentPostsCount := $root.Site.Params.footer.recentPosts.count | default 3 }}
    {{ $recentPosts := where $root.Site.RegularPages "Section" $recentPostsPath | first $recentPostsCount }}
    <div class="h3 text-center text-secondary py-3">
        {{ $root.Site.Params.footer.recentPosts.title | default "Recent Posts" }}
    </div>
    <div class="row justify-content-center">
        {{ range $recentPosts }}
        <div class="col-lg-4 col-md-6 pt-2">
            <div class="card h-100">
                {{ if and (not ($root.Site.Params.footer.recentPosts.disableFeaturedImage | default false)) (.Params.image) }}
                <div class="card-header">
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
                    </a>
                </div>
                {{ end }}
                <div class="card-body bg-transparent p-3 shadow-sm">
                    <a href="{{ .RelPermalink }}" class="primary-font card-title">
                        <h5 class="card-title bg-transparent" title="{{ .Title }}">{{ .Title | truncate 25 }}</h5>
                    </a>
                    <div class="card-text secondary-font">
                        <p>{{ .Summary | truncate 300 }}</p>
                    </div>
                </div>
                <div class="mt-auto card-footer">
                    <span class="float-start">{{ .Date.Format ($root.Site.Params.datesFormat.articleRecent | default "January 2, 2006") }}</span>
                    <a href="{{ .RelPermalink }}" class="float-end btn btn-outline-info btn-sm">{{ $root.Site.Params.terms.read | default "Read" }}</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}