---
import BaseLayout from '../layouts/baseLayout.astro';
import Hero from '../components/hero.astro';
import About from '../components/about.astro';
import Experience from '../components/experience.astro';
import Education from '../components/education.astro';
import Projects from '../components/projects.astro';
---

<BaseLayout title="Anatole | Portfolio">
  
  <Hero />
  
  <div class="max-w-4xl mx-auto">
    <About />
    <Experience />
    <Education />
    <Projects />
  </div>

</BaseLayout>