---
import BaseLayout from '../layouts/baseLayout.astro';
import Hero from '../components/hero.astro';
import About from '../components/about.astro';
import Projects from '../components/projects.astro';
---

<BaseLayout title="Anatole | Home">
  
  <Hero />
  
  <Projects />

  <div class="max-w-4xl mx-auto pt-16">
    <About />
  </div>

</BaseLayout>